---
layout: base.njk
title: About | Website Design
---

<main>

    <section class="relative">
        <div class="container px-5 pt-16 mx-auto md:pt-16">
            <div class="rounded-lg h-12 overflow-hidden md:h-48">
                <!-- 1238x204 -->
                <img alt="content" class="object-cover object-center h-full w-full " src="/static/img/woods.jpg">
            </div>
        </div>
    </section>

    <section class="text-gray-700 pt-12 body-font relative mb-8">
        <div class="container px-5 mx-auto">
            <div class=" text-center w-full ">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Portfolio Focus</h1>
            </div>
        </div>
    </section>

    <section class="text-gray-600 body-font">
        <div class="container px-5 mx-auto">
            <div class="flex flex-wrap w-full mb-20">
                <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Okaloosa Bar Association</h1>
                    <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                </div>
                <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
            </div>
        </div>
    </section>

    <section class="text-gray-700 pt-12 body-font relative mb-8">
        <div class="container px-5 mx-auto">
            <div class=" text-center w-full ">
                <img class="rounded w-full object-cover object-center mb-6" src="/static/img/waterhouseMain.jpg" alt="content">
                {# <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p> #}
            </div>
            <div class="flex flex-wrap pt-12 -m-6">

                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-balls-400 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content">
                        <h3 class="tracking-widest text-balls-500 text-xs font-medium title-font">SUBTITLE</h3>
                        <h2 class="text-lg text-balls-700 font-medium title-font mb-4">Chichen Itza</h2>
                        <p class="text-balls-300 leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-balls-400 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/721x401" alt="content">
                        <h3 class="tracking-widest text-balls-500 text-xs font-medium title-font">SUBTITLE</h3>
                        <h2 class="text-lg text-balls-700 font-medium title-font mb-4">Colosseum Roma</h2>
                        <p class="text-balls-300 leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-balls-400 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/722x402" alt="content">
                        <h3 class="tracking-widest text-balls-500 text-xs font-medium title-font">SUBTITLE</h3>
                        <h2 class="text-lg text-balls-700 font-medium title-font mb-4">Great Pyramid of Giza</h2>
                        <p class="text-balls-300 leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-balls-400 p-6 rounded-lg">
                        <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/723x403" alt="content">
                        <h3 class="tracking-widest text-balls-500 text-xs font-medium title-font">SUBTITLE</h3>
                        <h2 class="text-lg text-balls-700 font-medium title-font mb-4">San Francisco</h2>
                        <p class="text-balls-300 leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio Section -->
        {% include "../_layouts/partials/work.njk" %}
        <!-- End Section -->

        {% include "../_layouts/partials/cta.njk" %}

    </main>