<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if site.env %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "app.compiled.css" %}{% endset %}
      <style>
        {{css | safe}}
      </style>
    {% else %}
      <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Neuton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>
  <body class="antialiased relative"
          style='background-color: #161819'>
    <div class="text-gray-300 min-h-screen flex items-center ">
      <div class="container mx-auto p-4 flex flex-wrap items-center">
        {# <div class="w-full md:w-4/12 p-4 ml-auto mr-auto width-50 max-w-sm">
          <img src="../../static/img/vintage_tv.svg" alt="Vintage TV"/>
        </div> #}
        <article class="ml-auto mr-auto max-w-lg">
          <h2>Under Renovation.</h2>
          <br>
          <h1 class="">Modible Web Design<br>in Niceville, FL</h1>
          <br>
          <p>
          My name is Franklin Riley, and I am a Software Engineer. I also run a Web Development Company named <a href="/">MODIBLE</a>. Let me know if you need any assistance creating a new website or updating you current site.
          </p>
          <br>
          <div>
            <ul>These are some sites that I have created:
            <li>
                <a href="https://www.okaloosabar.com" target="_blank">Okaloosa Bar Association</a>
              </li>
              <li>
                <a href="https://www.remolreed.com" target="_blank">Remol Reed, P.A.</a>
              </li>
              <li>
                <a href="https://www.pjayspools.com" target="_blank">P'Jays Pools</a>
              </li>
              <li>
                <a href="https://www.tonyaholmanlawfirm.com" target="_blank">Tonya Holman P.A.</a>
              </li>
              <li>
                <a href="https://www.cottonlandtitle.com" target="_blank">Cotton Land and Title</a>
              </li>
              <li>
                <a href="https://www.N1L3.com" target="_blank">N1L3</a>
              </li>
              <li>
                <a href="https://www.waterhouselawfirm.com" target="_blank">Waterhouse Law Firm, P.A.</a>
              </li>
              <li>
                <a href="https://www.keepitrealtime.com" target="_blank">Keep It Realtime</a>
              </li>
              <li>
                <a href="https://www.franklinstreehouse.org" target="_blank">Franklin's Treehouse Foundation</a>
              </li>
            </ul>
          </div>
          <br><br>
          {#           <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum unde voluptate impedit nesciunt recusandae reiciendis nobis cum qui hic consequuntur, consectetur similique fugit voluptatem facere delectus eveniet debitis, dignissimos odio?
          </p>
          <br> #}
          <a href="mailto:modible@gmail.com">
            <button type="button">
            Modible@Gmail.com
          </button>
          </a>
        </article>
      </div>
    </div>
  </body>
  <script src="/static/app.bundled.js"></script>
</html>