<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if site.env %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "app.compiled.css" %}{% endset %}
      <style>
        {{css | safe}}
      </style>
    {% else %}
      <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %}
    <link href="/static/gallery.css" rel="stylesheet">
    <link href="/static/gallery-keyframes-scroll.css" rel="stylesheet">
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to main content</a>

    {% include "./partials/navbar.njk" %}

    {{ content | safe }}

    <footer>{% include "./partials/footer.njk" %}</footer>
  </body>
  <script src="/static/app.bundled.js"></script>
  <script src="/static/gallery.js"></script>
  <style>
    .w-70 {
      width: 20rem;
    }
  </style>
</html>