<section class="text-gray-700 body-font">
  <div class="container px-5 mx-auto ">
    <div class="flex flex-col">
      <div class="h-1 bg-gray-200 rounded overflow-hidden">
        <div class="w-24 h-full bg-balls-500"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12 ">
        <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">
          <span class="text-balls-300">modern</span>. <span class="text-balls-700">minimal.</span>
          <span class="text-balls-600">mobile.</span></h1>
        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0 text-justify">My design philosophy centers on crafting digital experiences that are not only visually stunning but also deeply intuitive. I believe in a user-centric approach, where innovative design and cutting-edge technology converge to create seamless and impactful online presences.</p>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 ">
        <div class="rounded-lg h-64 overflow-hidden">
          <img src="/static/svg/WebDev_Flatline.svg" alt="Illustration of a person working on web development" />
          </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Business Website Design</h2>
        <p class="text-base leading-relaxed mt-2 text-justify">Our modern, creative designs will provide you with the perfect launching point for your business and help to generate clients or increase sales from existing ones!</p>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 ">
        <div class="rounded-lg h-64 overflow-hidden">
          <img src="/static/svg/SEO_Flatline.svg" alt="Illustration representing Search Engine Optimization with charts and graphs" />
          </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Search Engine Optimization</h2>
        <p class="text-base leading-relaxed mt-2 text-justify">I help your site rank on Google and Bing with Search Engine optimization services.</p>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6 ">
        <div class="rounded-lg h-64 overflow-hidden">
          <img src="/static/svg/Fast_Flatline.svg" alt="Illustration of a rocket symbolizing speed and performance" />
          </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Fast and Safe</h2>
        <p class="text-base leading-relaxed mt-2 text-justify">A website should be fast and easy for visitors to use. They should have a great experience on the site, so they will come back again.</p>
      </div>
    </div>
  </div>
</section>