    <section class="text-gray-700 body-font py-12">
        <div class="container px-5 mx-auto">
            <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
                <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900 text-center md:text-left">Today, more than ever, customres find your business using the internet. Give me a call today to discuss your new website.</h1>
                <button class="flex-shrink-0 text-white bg-balls-700 border-0 py-2 px-8 focus:outline-none hover:bg-balls-300 hover:text-black rounded text-lg mt-10 sm:mt-0 mx-auto">Contact Info</button>
            </div>
        </div>
    </section>