<nav id="footer" class="bg-gray-200">

    <!-- start container -->
    <div class="container mx-auto pt-8 pb-4">

        <div class="flex flex-wrap overflow-hidden sm:-mx-1 md:-mx-px lg:-mx-2 xl:-mx-2">

            <div class="w-full overflow-hidden sm:my-1 sm:px-1 sm:w-1/2 md:my-px md:px-px md:w-1/2 lg:my-2 lg:px-2 lg:w-1/4 xl:my-2 xl:px-2 xl:w-1/4 pb-6">
                <!-- Column 1 Content -->
{#                 <img style="max-width: 70%;height:auto;" class="" src="https://pngimage.net/wp-content/uploads/2019/05/fake-logo-png-.png" alt="Logo"> #}
                Modible, LLC.
            </div>

            <div class="w-full overflow-hidden sm:my-1 sm:px-1 sm:w-1/2 md:my-px md:px-px md:w-1/2 lg:my-2 lg:px-2 lg:w-1/4 xl:my-2 xl:px-2 xl:w-1/4 pb-6">
                <!-- Column 2 Content -->


                <h4 class="text-gray-800">Important</h4>
                <ul class="nav navbar-nav">
                    <li id="navi-2" class="leading-7 text-sm">
                        <a class="text-gray-800 underline text-small" href="/page-1">
                            Page 1 </a>
                    </li>
                    <li id="navi-1" class="leading-7 text-sm"><a class="text-gray-800 underline text-small" href="/page-2">Page 2</a></li>
                </ul>


            </div>

            <div class="w-full overflow-hidden sm:my-1 sm:px-1 sm:w-1/2 md:my-px md:px-px md:w-1/2 lg:my-2 lg:px-2 lg:w-1/4 xl:my-2 xl:px-2 xl:w-1/4 pb-6">
                <!-- Column 3 Content -->
                <h4 class="text-gray-800">Info</h4>
                <ul class="">
                <li id="navi-2" class="leading-7 text-sm">
                    <a class="text-gray-800 underline text-small" href="/page-1">
                        Page 1 </a>
                </li>
                <li id="navi-1" class="leading-7 text-sm"><a class="text-gray-800 underline text-small" href="/page-2">Page 2</a></li>
                </ul>
            </div>

            <div class="w-full overflow-hidden sm:my-1 sm:px-1 sm:w-1/2 md:my-px md:px-px md:w-1/2 lg:my-2 lg:px-2 lg:w-1/4 xl:my-2 xl:px-2 xl:w-1/4 pb-6">
                <!-- Column 4 Content -->

                <h4 class="text-gray-800">Products</h4>
                <ul class="">
                <li id="navi-2" class="leading-7 text-sm">
                    <a class="text-gray-800 underline text-small" href="/page-1">
                        Page 1 </a>
                </li>
                <li id="navi-1" class="leading-7 text-sm"><a class="text-gray-800 underline text-small" href="/page-2">Page 2</a></li>
                </ul>
            </div>

        </div>



        <!-- Start footer bottom -->

        <div class="pt-4 md:flex md:items-center md:justify-center text-gray-800" style="border-top:1px solid">
            <ul class="">
                <li class="md:mx-2 md:inline leading-7 text-sm" id="footer-navi-2"><a class="text-gray-800 underline text-small" href="/disclaimer">Disclaimer</a></li>
                <li class="md:mx-2 md:inline leading-7 text-sm" id="footer-navi-2"><a class="text-gray-800 underline text-small" href="/cookie">Cookie policy</a></li>
                <li class="md:mx-2 md:inline leading-7 text-sm" id="footer-navi-2"><a class="text-gray-800 underline text-small" href="/privacy">Privacy</a></li>
                </ul>
            </div>


        <!-- end container -->
        </div>



</nav>

{#     <footer class="text-sm text-gray-500">
       <p class="flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" class="w-4 mr-1"><path class="fill-current text-gray-100" d="M32 5H4C1.791 5 0 6.791 0 9v18c0 2.209 1.791 4 4 4h28c2.209 0 4-1.791 4-4V9c0-2.209-1.791-4-4-4z"/><path class="fill-current text-ws-blue-500" d="M13 18S0 8.586 0 8.895v18.21C0 27.414 13 18 13 18zm5 3S3.697 31 4.07 31h27.859C32.303 31 18 21 18 21zm5-3s13 9.414 13 9.105V8.895C36 8.586 23 18 23 18zm-5-3S3.697 5 4.07 5h27.859C32.303 5 18 15 18 15z"/></svg> <span>Proudly crafted in Scotland by <a href="https://www.chriscollins.me">Chris Collins</a></span></p>
        <p>Go and build something great! 🥳</p>
    </footer> #}