<section>
    <div class="font-semibold tracking-widest ds rounded-lg text-center">
        <div class="py-64 container mx-auto"><h2 class="text-md">websites by franklin riley</h2>
        <div class=" "><h1 class="text-6xl text-gray-800 uppercase">Modible</h1>
        <div class=" "><h3 class="text-xl text-gray-800 uppercase">Website Design</h3>
    </div>
    </div>
    <div class=" "></div>
        </div>
    </div>
</section>