<div class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 50vh;">
  <div class="absolute top-0 w-full h-full bg-center bg-cover"
          style='background-image: url("./static/img/ps1.jpg");'>
    <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-0 bg-black"></span>
  </div>
  <div class="mx-auto lg:flex-row lg:max-w-xl lg:p-0">>
    <div class="container relative w-full sm:px-0 md:px-10 sm:items-center lg:items-start lg:mb-0">
    <img src="../../static/img/modiblemain.png">
{#       <h1 class="font-sans text-4xl font-extrabold leading-none text-black sm:text-5xl xl:text-4xl sm:text-center lg:text-left">
        <span class="text-ltblue-500">MODIBLE</span>
        <span class="block text-blue-500">by Franklin Riley</span>
      </h1>
      <p class="mt-6 text-base text-gray-300 xl:text-lg">I am a Software Engineer and Web Developer.</p>
       <div class="items-center justify-center m-10 rflex">
        <a href="#_" class="flex items-center self-start justify-center px-5 py-3 text-base font-medium leading-tight text-white bg-opacity-50 bg-green-500 hover:bg-opacity-100 border border-transparent rounded-lg shadow md:py-4 md:text-lg xl:text-xl md:px-10">
                    Contact Us
                </a> #}
      </div>
    </div>
  </div>
</div>