<div class="py-12">
    <div class="container flex flex-col items-center justify-center px-4 pt-2 pb-8 mx-auto sm:px-6 lg:px-8">

        <h2
            class="flex justify-center font-sans text-3xl font-bold leading-none tracking-tight text-center text-gray-900 b-6 sm:text-4xl md:mx-auto">
            <span class="relative">My Latest Projects</span>
        </h2>
        <a href="#" class="mt-3 text-sm font-semibold text-indigo-600 underline">View All Projects</a>

        <div class="grid max-w-lg gap-5 mx-auto mt-12 md:grid-cols-2 lg:grid-cols-3 md:max-w-none">
            <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                <div class="relative flex-shrink-0">
                    <img class="object-cover w-full h-56"
                        src="https://cdn.devdojo.com/episode/images/August2020/laravel-livewire-introduction1.jpg"
                        alt="Cover image for livewire introduction course."/>
                    <span
                        class="absolute bottom-0 right-0 inline-flex items-center px-3 py-1 mr-4 -mb-3 text-xs font-medium leading-tight text-gray-800 bg-gray-100 border rounded-full">12
                        reviews</span>
                </div>
                <div class="flex flex-col justify-between flex-1">
                    <div class="flex flex-col justify-between flex-1 p-6 bg-white">
                        <div>
                            <a href="#" class="block text-xl font-semibold leading-7 text-gray-900">Okaloosa Bar Association</a>
                            <p class="mt-3 text-base leading-6 text-gray-500">Tired of Vue or React? Why not try Livewire, the fullstack framework for dynamic interfaces.</p>
                        </div>
                        <p class="mt-3 text-sm font-medium leading-5">
                            <a href="#" class="inline-block">
                                <span
                                    class="inline-flex items-center px-3 py-1 text-xs font-medium leading-tight text-blue-500 bg-gray-300 rounded-full">Website</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                <div class="relative flex-shrink-0">
                    <img class="object-cover w-full h-56"
                        src="https://cdn.devdojo.com/images/September2017/creating-a-laravel-package-sd.jpg"
                        alt="Cover image for creating a laravel package course."/>
                    <span
                        class="absolute bottom-0 right-0 inline-flex items-center px-3 py-1 mr-4 -mb-3 text-xs font-medium leading-tight text-gray-800 bg-gray-100 border rounded-full">16
                        reviews</span>
                </div>
                <div class="flex flex-col justify-between flex-1">
                    <div class="flex flex-col justify-between flex-1 p-6 bg-white">
                        <div>
                            <a href="#" class="block text-xl font-semibold leading-7 text-gray-900">Remol & Reed</a>
                            <p class="mt-3 text-base leading-6 text-gray-500">Join Richard on the adventure of creating and releasing a new Laravel package.</p>
                        </div>
                        <p class="mt-3 text-sm font-medium leading-5">
                            <a href="#" class="inline-block">
                                <span
                                    class="inline-flex items-center px-3 py-1 text-xs font-medium leading-tight text-blue-500 bg-gray-300 rounded-full">Website</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                <div class="relative flex-shrink-0">
                    <img class="object-cover w-full h-56"
                        src="https://cdn.devdojo.com//images/March2017/laravel-dusk-sd.jpg"
                        alt="Cover image for laravel dusk course."/>
                    <span
                        class="absolute bottom-0 right-0 inline-flex items-center px-3 py-1 mr-4 -mb-3 text-xs font-medium leading-tight text-gray-800 bg-gray-100 border rounded-full">22
                        reviews</span>
                </div>
                <div class="flex flex-col justify-between flex-1">
                    <div class="flex flex-col justify-between flex-1 p-6 bg-white">
                        <div>
                            <a href="#" class="text-xl font-semibold leading-7 text-gray-900">Waterhouse Law Firm</a>
                            <p class="mt-3 text-base leading-6 text-gray-500">Learn how Laravel Dusk can help you to feature test your SPA automatically with a simple API.</p>
                        </div>
                        <p class="mt-4 text-sm font-medium leading-5">
                            <a href="#" class="inline-block">
                                <span
                                    class="inline-flex items-center px-3 py-1 text-xs font-medium leading-tight text-blue-500 bg-gray-300 rounded-full">Website</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>