<!-- Column -->
<div class="md:col-count-2 print:col-count-2 col-gap-md md:h-letter-col print:h-letter-col col-fill-auto">

  <section class="mt-8 first:mt-0">

    <!-- To keep in the same column -->
    <div class="break-inside-avoid">

      <h2 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
              Franklin S. Riley
            </h2>

      <section class="mb-4.5 break-inside-avoid">
        <header>
          <h3 class="text-lg text-gray-700 font-medium title-font">
                  Website Designer
                </h3>
          <p class="leading-normal text-md text-gray-650 mt-4">
                  I'm a web designer and developer with over 10 years of experience. My projects balance aesthetics with functionality to create beautiful websites that also work well (fast load times & easy navigation). Websites should be both attractive and functional; my designs are always created with your goals in mind. </p>

          <p class="leading-normal text-md text-gray-650 mt-2">Bachelor of Science - Computer Science</p>

          <p class="leading-normal text-md text-gray-650 mt-2">
                  10+ years of experience
                </p>
        </header>
        <p class="mt-2.1 text-md text-gray-700 leading-normal"></p>
      </section>

    </div>

  </section>

</div>
<!-- end Column -->