<!-- Column -->
<div class="md:col-count-2 print:col-count-2 col-gap-md md:h-letter-col print:h-letter-col col-fill-auto">

  <section class="mt-8 first:mt-0">

    <!-- To keep in the same column -->
    <div class="break-inside-avoid">

      <h2 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
              Franklin S. Riley
            </h2>

      <section class="mb-4.5 break-inside-avoid">
        <header>
          <h3 class="text-lg text-gray-700 font-medium title-font">
                  Website Designer
                </h3>
          <p class="leading-normal text-md text-gray-650 mt-4">
                  I'm a web designer/developer with more than 10 years of professional experience. </p>

          <p class="leading-normal text-md text-gray-650 mt-2">With my projects,
                  I try to balance aesthetics with functionality to create a great looking website that performs well too.</p>

          <p class="leading-normal text-md text-gray-650 mt-2">
                  Websites should be both attractive and easy to navigate.
                </p>
        </header>
        <p class="mt-2.1 text-md text-gray-700 leading-normal"></p>
      </section>

    </div>

  </section>

</div>
<!-- end Column -->