<!-- Column -->
<div class="md:col-count-2 print:col-count-2 col-gap-md md:h-letter-col print:h-letter-col col-fill-auto">

  <section class="mt-8 first:mt-0">

    <!-- To keep in the same column -->
    <div class="break-inside-avoid">

      <h2 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
              Franklin S. Riley
            </h2>

      <section class="mb-4.5 break-inside-avoid">
        <header>
          <h3 class="text-lg text-gray-700 font-medium title-font">
                  Website Designer
                </h3>
          <p class="leading-normal text-md text-gray-650 mt-4">
                  With over a decade of experience at the forefront of web design and development, I've cultivated a design philosophy rooted in the seamless fusion of innovative design and a profoundly user-centric approach. My work is driven by a passion for leveraging cutting-edge technology to transform complex challenges into elegant, intuitive digital experiences. Key milestones include leading the development of award-winning e-commerce platforms and pioneering the integration of AI-driven personalization features that have demonstrably elevated user engagement and business outcomes for my clients. I believe that a truly impactful website is not just visually stunning but also a powerful tool that anticipates user needs and delivers exceptional performance. My commitment is to continue pushing the boundaries of what's possible, creating digital solutions that are not only attractive and functional but also strategically aligned with your long-term goals. </p>

          <p class="leading-normal text-md text-gray-650 mt-2">Bachelor of Science - Computer Science</p>

          <p class="leading-normal text-md text-gray-650 mt-2">
                  10+ years of experience
                </p>
        </header>
        <p class="mt-2.1 text-md text-gray-700 leading-normal"></p>
      </section>

    </div>

  </section>

</div>
<!-- end Column -->