<!-- Portfolio Section -->

<section id="services">

        <span class="block font-semibold tracking-widest text-center">
            <h2 class="text-3xl text-gray-800 uppercase">Portfolio</h2>
            <a href="/portfolio">
                <p class="text-gray-500 lowercase">Click here to view my full portfolio</p>
            </a>
        </span>

        <div class="text-gray-700 ">
            <section class="text-gray-700 pt-12 body-font relative mb-8">
                <div class="container px-5 mx-auto">

                    <div class="flex flex-wrap pt-12 -m-4">

                        <div class="lg:w-1/3 sm:w-1/2 p-4 ">
                            <div class="flex relative">
                                <img alt="gallery" class="rounded-lg absolute inset-0 w-full h-full object-cover object-center" src="/static/img/projects/WaterhouseColor.jpg">
                                <div class="rounded-lg px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                                    <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Law Firm</h2>
                                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Waterhouse Law Firm</h1>
                                    <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                                </div>
                            </div>
                        </div>

                        <div class="lg:w-1/3 sm:w-1/2 p-4 ">
                            <div class="flex relative">
                                <img alt="gallery" class="rounded-lg absolute inset-0 w-full h-full object-cover object-center" src="/static/img/projects/TreehouseColor.jpg">
                                <div class="rounded-lg px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                                    <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Foundation</h2>
                                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Franklin's Treehouse</h1>
                                    <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                                </div>
                            </div>
                        </div>

                        <div class="lg:w-1/3 sm:w-1/2 p-4 ">
                            <div class="flex relative">
                                <img alt="gallery" class="rounded-lg absolute inset-0 w-full h-full object-cover object-center" src="/static/img/projects/N1L3Color.jpg">
                                <div class="rounded-lg px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                                    <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Musician</h2>
                                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">N1L3</h1>
                                    <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->