---
layout: base.njk
title: Franklin Riley | Web Developer | Niceville, Florida
---
<h1> Stuff about me! </h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1> More Stuff! </h1>