---
title: "Blog"
layout: "base.njk"
permalink: "/blog/"
---

<h1>{{ title }}</h1>

<section>
  {%- for post in collections.blog | reverse -%}
    <article>
      <h2>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
      <p><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p>
      {% if post.data.summary %}
        <p>{{ post.data.summary }}</p>
      {% endif %}
      <p>
        <a href="{{ post.url | url }}">Read more</a>
      </p>
    </article>
  {%- endfor -%}
</section>