---
layout: base.njk
title: Modible | Website Design
---
<main id="main">
  {% include "./_layouts/partials/hero.njk" %}

  <!-- Modible. Minimal. Mobile Section -->
  {% include "./_layouts/partials/test.njk" %}
  <!-- End Section -->

  <!-- Steps Section -->
  {% include "./_layouts/partials/steps.njk" %}
  <!-- End Section -->

  <!-- Portfolio Section -->
  {% include "./_layouts/partials/work.njk" %}
  <!-- End Section -->

  <!-- Testimonials Section -->
  {% include "./_layouts/partials/testimonials.njk" %}
  <!-- End Section -->
</main>