---
layout: base.njk
title: Minimal boilerplate for new projects built with Eleventy, Tailwind and PostCSS
---
{% include "./_layouts/partials/interests.njk" %}
<section class="">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words hover:bg-teal-100 w-full mb-8 hover:shadow-lg">
          <div class="px-4 py-5 flex-auto">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-orange-500">
              <i class="fas fa-award"></i>
            </div>
            <h6 class="text-xl font-semibold">MODERN</h6>
            <p class="mt-2 mb-4 text-gray-600">
                    Divide details about your product or agency work into parts.
                    A paragraph describing a feature will be enough.
                  </p>
          </div>
        </div>
      </div>
      <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words hover:bg-teal-100 w-full mb-8 hover:shadow-lg">
          <div class="px-4 py-5 flex-auto">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-500">
              <i class="fas fa-retweet"></i>
            </div>
            <h6 class="text-xl font-semibold">MINIMAL</h6>
            <p class="mt-2 mb-4 text-gray-600">
                    Keep you user engaged by providing meaningful information.
                    Remember that by this time, the user is curious.
                  </p>
          </div>
        </div>
      </div>
      <div class="lg:pt-12  pt-6 w-full md:w-4/12 px-4 text-center">
        <div class="relative flex flex-col min-w-0 break-words hover:bg-teal-100 w-full mb-8 hover:shadow-lg">
          <div class="px-4 py-5 flex-auto">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-yellow-500">
              <i class="fas fa-fingerprint"></i>
            </div>
            <h6 class="text-xl font-semibold">MOBILE</h6>
            <p class="mt-2 mb-4 text-gray-600">
                    Write a few lines about each one. A paragraph describing a
                    feature will be enough. Keep you user engaged!
                  </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% include "./_layouts/partials/portfolio.njk" %}
